
:root {
    --queue-complete-border-color: #6db46a;
    --queue-error-border-color: #d27272;
    --queue-in_progress-border-color: #dca948;
    --queue-queued-border-color: #9f9f9f;
}

body.dark {
    --queue-complete-border-color: #0f480d;
    --queue-error-border-color: #4e1717;
    --queue-in_progress-border-color: #523c0a;
    --queue-queued-border-color: var(--checkbox-label-border-color);
}

div:has(>.mcww-queue-radio) {
    background: none;
    border: none;
    overflow-y: auto;
    box-shadow: none;
}

div:has(>.mcww-queue-radio)::-webkit-scrollbar {
    display: none;
}

.mcww-queue-radio {
    background: none;
    padding: 0;
}

.mcww-queue-radio>div {
    flex-direction: column;
}

.mcww-queue-radio label {
    align-items: flex-start;
    width: 100%;
    background: var(--background-fill-primary);
}

.mcww-queue-radio label.selected {
    background: var(--background-fill-primary);
}

.mcww-queue-radio label:hover {
    background: var(--background-fill-primary);
}

.mcww-queue-radio label.complete {
    border-color: var(--queue-complete-border-color);
}

.mcww-queue-radio label.error {
    border-color: var(--queue-error-border-color);
}

.mcww-queue-radio label.in_progress {
    border-color: var(--queue-in_progress-border-color);
}

.mcww-queue-radio label.queued {
    border-color: var(--queue-queued-border-color);
}

.mcww-queue-radio label input {
    margin-top: auto;
    margin-bottom: auto;
}

.mcww-queue-radio label .queue-content {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-left: 10px;
}

.mcww-queue-radio label img, .mcww-queue-radio label video {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.mcww-queue-radio label .mcww-text {
    height: 50px;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mcww-queue-radio label .mcww-id {
    position: relative;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0;
    margin-top: auto;
    margin-right: 0;
    margin-left: auto;
    width: auto;
    overflow: visible;
    opacity: 50%;
    text-align: right;
}

.queue-ui>:not(.resize-handle) {
    height: auto;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
    flex-wrap: nowrap;
}
