:root {
    --alt-accent-050: #E3DCD6;
    --alt-accent-100: #f8f4f0;
    --alt-accent-200: rgb(210, 199, 192);
    --alt-accent-250: rgb(194, 183, 177);
    --alt-accent-700: rgb(113, 96, 85);
    --alt-accent-800: rgb(68, 55, 47);

    --projects-radio-border: var(--alt-accent-200);
    --projects-radio-background: var(--alt-accent-200);
    --selected-project-shadow: var(--alt-accent-700);
    --close-project-background: var(--alt-accent-100);
}

/* --- Dark Theme Overrides --- */
body.dark {
    --projects-radio-border: var(--alt-accent-800);
    --projects-radio-background: var(--alt-accent-250);
    --selected-project-shadow: var(--alt-accent-200);
    --close-project-background: var(--alt-accent-100);
}

/* --- General Styles --- */
.sidebar-content {
    padding: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-content .mcww-logo svg{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.projects-radio {
    background: none;
    padding-left: 13px;
    padding-right: 13px;
}

div:has(>.projects-radio) {
    border: 0;
    background: none;
    box-shadow: none;
}

.projects-radio>div {
    flex-direction: column;
}

.projects-radio label {
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid var(--projects-radio-border) !important;
    background: var(--projects-radio-background) !important;
    color: var(--alt-accent-800) !important;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-radio label.selected {
    box-shadow: 0 0 7px 2px var(--selected-project-shadow);
}
.projects-radio label input {
    display: none;
}
.projects-radio label span {
    margin-left: 0;
}

.close-project-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(35.36%-10px, -35.36%-10px);

    width: 20px;
    height: 20px;

    border: 1px solid var(--projects-radio-border) !important;
    background: var(--close-project-background) !important;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* z-index: 10; */
}

