.gallery-container button[title="Close"] {
  display: none;
}

.mcww-hidden {
  display: none !important;
}


/* resize handle */

body.resizing {
    cursor: col-resize !important;
}

body.resizing * {
    pointer-events: none !important;
}

body.resizing .resize-handle {
    pointer-events: initial !important;
}

.resize-handle {
    position: relative;
    cursor: col-resize;
    grid-column: 2 / 3;
    min-width: 16px !important;
    max-width: 16px !important;
    height: 100%;
}

.resize-handle::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7.5px;
    border-left: 1px dashed var(--border-color-primary);
}


/* loading */

.mcww-loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}
.mcww-wobble-circles {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.mcww-circle {
    width: 12px;
    height: 12px;
    border: 1px solid var(--primary-900, #aaa8ae71);
    border-radius: 50%;
    animation: mcwwWobble 0.6s ease-in-out infinite;
}
@keyframes mcwwWobble {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.mcww-loader-text {
    font-size: 14px;
    text-align: center;
}

