
.mcww-refresh {
    position: absolute;
    right: -55px;
    bottom: -5px;
    z-index: 1;
}

div:has(>.mcww-auto-refresh-checkbox) {
    position: absolute;
    right: 55px;
    bottom: -5px;
    z-index: 1;
    background: none;
    border: none;
    box-shadow: none;
    width: fit-content;
    min-width: 0 !important;
}
.mcww-auto-refresh-checkbox {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
}
.mcww-auto-refresh-checkbox span {
    margin-left: 3px;
}

.mcww-text-button, .mcww-text-button span {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
}
.mcww-text-button:hover, .mcww-text-button span:hover{
    text-decoration: underline;
    text-decoration-style: solid !important;
    border: none;
    box-shadow: none;
}
.mcww-text-button:active {
    border: none;
    box-shadow: none;
}


.mcww-tool{
    max-width: 2.2em !important;
    min-width: 2.2em !important;
    height: 2.4em;
    align-self: end;
    line-height: 1em;
    border-radius: 0.5em;
}
div:has(>.mcww-tool) {
    gap: 5px;
}

.label-button {
    border-radius: 2px;
    box-shadow: var(--block-label-shadow);
    border: 1px solid var(--block-label-border-color);
}
.label-button:not(.stop) {
    background: var(--block-label-background-fill);
}
.label-button.stop {
    border-color: var(--button-cancel-border-color-hover);
    box-shadow: var(--button-cancel-shadow-hover);
    background: var(--button-cancel-background-fill-hover);
}


/* unique */

.toggle-dark-mode {
    font-family: monospace;
    position: absolute;
    background-color: transparent;
    color: var(--button-secondary-text-color);
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}

.mcww-run-button {
    position: fixed;
    left: 55vw;
    top: calc(100vh - min(115px, 18vh));
    top: calc(100dvh - min(115px, 18dvh));
    height: fit-content;
    width: 124px;
    z-index: 100;
}

