
div:has(>.gallery-container)>label {
    z-index: 21;
}
.gallery-container {
    z-index: 0;
    button[title="Close"] {
        display: none;
    }
    button[title="Undo"] {
        display: none;
    }
}

.mcww-full-height-media-button {
    height: 100% !important;
}

.video-container:has(time) {
    overflow: auto;
}

