
div:has(>.gallery-container)>label {
    z-index: 21;
}
.gallery-container {
    z-index: 0;
    button[title="Close"] {
        display: none;
    }
}
.image-container {
    button[title="Undo"] {
        display: none;
    }
}
div.upload-gallery .gallery-container button[title="Close"] {
    display: unset;
}

.mcww-full-height-media-button {
    height: 100% !important;
}

.video-container:has(time) {
    overflow: auto;
}

.opened-image {
    .source-selection, .icon-button-wrapper {
        display: none;
    }
}

div.gallery-workflow-fix-grid-height:not(.fullscreen)>.gallery-container .grid-container {
    height: min(80vh, 500px);
}

.mcww-pseudo-gallery {
    .dataset>.gallery {
        background: var(--block-background-fill);
        &:has(>.gallery-item:only-child), &:not(:has(>.gallery-item)) {
            display: none;
        }
    }
    &>div {
        width: 100%;
    }
    .selected {
        &, &:hover {
            border-color: var(--color-accent);
        }
    }
}
body:not(.secure-context) {
    .mcww-pseudo-gallery {
        button[title="Copy"] {
            display: none;
        }
    }
    .audio-container .source-selection>button:nth-child(2) {
        display: none;
    }
    .camera-button {
        display: none;
    }
}

