
div:has(>.gallery-container)>label {
    z-index: 21;
}
.gallery-container {
    z-index: 0;
    button[title="Close"] {
        display: none;
    }
    button[title="Undo"] {
        display: none;
    }
}
div.upload-gallery .gallery-container button[title="Close"] {
    display: unset;
}

.mcww-full-height-media-button {
    height: 100% !important;
}

.video-container:has(time) {
    overflow: auto;
}

.opened-image {
    .source-selection, .icon-button-wrapper {
        display: none;
    }
}

