
.management-buttons-column {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.comfy-logs-code {
    max-height: min(50vh, 600px);
    background: var(--block-label-background-fill);
    div.cm-gutters {
        display: none;
    }
}

#compareImageHeadGroup {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.metadata-workflow-group {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    div.tab-wrapper{
        background: var(--block-background-fill);
    }
}

.hotkeys-table table {
    width: 100%;
    max-width: 550px;
}

body.pwa .install-as-pwa-button-row {
    display: none;
}

