
.management-buttons-column {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.comfy-logs-code {
    max-height: min(50vh, 600px);
    background: var(--block-label-background-fill);
    div.cm-gutters {
        display: none;
    }
}

#compareImageHeadGroup {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.metadata-workflow-group {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    div.tab-wrapper{
        background: var(--block-background-fill);
    }
}

.hotkeys-table table {
    width: 100%;
    max-width: 550px;
}

body.pwa .install-as-pwa-button-row {
    display: none;
}

div:has(>.mcww-loras-filter) {
    margin-right: 0px;
    margin-left: auto;
    max-width: 200px;
}

.mcww-loras-table {
    max-height: calc(100vh - 185px);
    table{
        width: 100%;
    }
    code{
        background: none;
        border: none;
        box-shadow: none;
    }
}

:root {
    --tiny-helpers-button-color: var(--neutral-100);
}
body.dark {
    --tiny-helpers-button-color: var(--neutral-900);
}
.tiny-helpers-button {
    background: var(--tiny-helpers-button-color);
    border: none;
    width: 16px;
    height: 7px;
    position: absolute;
    bottom: 50px;
    right: -19px;
}
.sidebar.open .tiny-helpers-button {
    display: none !important;
}

