
.mcww-image-editor-container .canvas-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--border-color-primary);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.mcww-image-editor-container #drawing-canvas {
    z-index: 10;
    background-color: transparent;
}

.mcww-image-editor-container #image-canvas {
    z-index: 5;
}

.mcww-image-editor-container #brush-preview-canvas {
    z-index: 15;
    pointer-events: none;
}

.mcww-image-editor-container {
    cursor: crosshair;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: visible !important;
}
div.html-container:has(div.mcww-image-editor-container) {
    margin: 0;
    padding: 0;
    overflow: visible !important;
}
div:has(>div.html-container .mcww-image-editor-container) {
    overflow: visible !important;
}

.mcww-image-editor-container #image-editor-bg img {
    max-width: 100%;
    max-height: 100%;
}

.mcww-canvas-wrapper {
    width: 100%;
    overflow: visible !important;
}

.color-picker-label {
    margin-top: auto;
    margin-right: auto;
}

.color-picker-html {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    width: fit-content;
    min-width: 130px !important;
}
.color-picker-html label {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
.color-picker-html input {
    background: none;
}

.open-in-image-editor-button {
    min-width: fit-content;
}

.input-image-column {
    gap: 3px;
}
