
.mcww-image-editor-container .canvas-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mcww-image-editor-container #drawing-canvas {
    z-index: 10;
    background-color: transparent;
}

.mcww-image-editor-container #image-canvas {
    z-index: 5;
}
.mcww-image-editor-container {
    cursor: crosshair;
    margin-left: auto;
    margin-right: auto;
    position: relative;}

div.html-container:has(div.mcww-image-editor-container) {
    margin: 0;
    padding: 0;
}

.mcww-image-editor-container #image-editor-bg img {
    max-width: 100%;
    max-height: 100%;
}

.mcww-image-editor-container>* {
    border: 2px solid var(--border-color-primary);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.mcww-canvas-wrapper {
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
}

.color-picker-label {
    margin-top: auto;
    margin-right: auto;
}

