
.mcww-hidden {
    display: none !important;
}
div:has(>.mcww-hidden-parent) {
    display: none !important;
}
.mcww-visible {
    overflow: visible !important;
}

.small-button {
    width: fit-content;
    min-width: 60px;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.force-text-style {
    font-variant-emoji: text;
}

.button-with-confirm-row {
    gap: 5px;
    button {
        min-width: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 767px) {
    .grid-on-mobile {
        display: grid;
    }
}

.vertically-centred {
    &, &>* {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.horizontally-centred {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.block-row-column {
    display: block;
    &>* {
        margin-right: 5px !important;
    }
    &:nth-child {
        margin-right: 0px !important;
    }
    span {
        font-weight: bold;
    }
}

.info-text p {
    font-weight: var(--block-info-text-weight);
    font-size: var(--block-info-text-size);
    line-height: var(--line-sm);
    color: var(--block-info-text-color);
}

.mcww-table {
    table{
        border: none;
        td, tr, th {
            border: 1px solid var(--block-border-color);
        }
        tbody tr:nth-child(2n) {
            background-color: var(--table-even-background-fill);
        }
        tbody tr:nth-child(2n+1) {
            background-color: var(--table-odd-background-fill);
        }
    }
    &.no-head thead{
        display: none;
    }
}

.right-aligned {
    margin-right: 0;
    margin-left: auto;
    &>* {
        float: right;
    }
}

