
.mcww-hidden {
    display: none !important;
}
.mcww-zero-opacity {
    opacity: 0 !important;
}
div:has(>.mcww-hidden-parent) {
    display: none !important;
}
.mcww-visible {
    overflow: visible !important;
}

.small-button {
    width: fit-content;
    min-width: 60px;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.force-text-style {
    font-variant-emoji: text;
}

.button-with-confirm-row {
    gap: 5px;
    button {
        min-width: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 767px) {
    .grid-on-mobile {
        display: grid;
    }
}

.vertically-centred {
    &, &>* {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.horizontally-centred {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.block-row-column {
    display: block;
    &>* {
        margin-right: 5px !important;
    }
    &:nth-child {
        margin-right: 0px !important;
    }
    span {
        font-weight: bold;
    }
}

.info-text p {
    p, em, strong {
        font-weight: var(--block-info-text-weight);
        font-size: var(--block-info-text-size);
        line-height: var(--line-sm);
        color: var(--block-info-text-color);
    }
}

.mcww-table {
    border-radius: 0;
    table{
        border: none;
        td, tr, th {
            border: 1px solid var(--block-border-color);
        }
        tbody tr:nth-child(2n) {
            background-color: var(--table-even-background-fill);
        }
        tbody tr:nth-child(2n+1) {
            background-color: var(--table-odd-background-fill);
        }
    }
    &.no-head thead{
        display: none;
    }
}

.right-aligned {
    margin-right: 0;
    margin-left: auto;
    &>* {
        float: right;
    }
}

button, a, label, input {
    -webkit-tap-highlight-color: transparent;
}

:root:has(body:not(.dark)) {
    color-scheme: light;
}
:root:has(body.dark) {
    color-scheme: dark;
}
:root, * {
    scrollbar-width: thin;
}

*:focus {
    outline: none;
}

.offline-placeholder {
    margin-top: 23px;
    h3, p, li:not(:has(p)) {
        font-size: 120%;
    }
    li {
        margin-bottom: 0;
    }
    a {
        color: unset;
    }
}

div.html-container {
    margin: 0;
    padding: 0;
    overflow: visible !important;
}
div:has(>div.html-container) {
    overflow: visible !important;
}

main.fillable.app {
    @media (min-width: 768px) {
        max-width: none !important;
        width: 93vw !important;
    }
}


body.pwa {
    user-select: none;
    -webkit-user-select: none;
    .allow-pwa-select, .allow-pwa-select * {
        user-select: text;
        -webkit-user-select: text;
    }
}

:root {
    overscroll-behavior-y: none;
}

main {
    font-family: 'Source Sans Pro', ui-sans-serif, system-ui, sans-serif, 'Noto Sans Symbols 2' !important;
}
