
.mcww-hidden {
    display: none !important;
}
.mcww-zero-opacity {
    opacity: 0 !important;
}
div:has(>.mcww-hidden-parent) {
    display: none !important;
}
.mcww-visible {
    overflow: visible !important;
}

.small-button {
    width: fit-content;
    min-width: 60px;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.force-text-style {
    font-variant-emoji: text;
}

.button-with-confirm-row {
    gap: 5px;
    button {
        min-width: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 767px) {
    .grid-on-mobile {
        display: grid;
    }
}

.vertically-centred {
    &, &>* {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.horizontally-centred {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.block-row-column {
    display: block;
    &>* {
        margin-right: 5px !important;
    }
    &:nth-child {
        margin-right: 0px !important;
    }
    span {
        font-weight: bold;
    }
}

.info-text p {
    font-weight: var(--block-info-text-weight);
    font-size: var(--block-info-text-size);
    line-height: var(--line-sm);
    color: var(--block-info-text-color);
}

.mcww-table {
    border-radius: 0;
    table{
        border: none;
        td, tr, th {
            border: 1px solid var(--block-border-color);
        }
        tbody tr:nth-child(2n) {
            background-color: var(--table-even-background-fill);
        }
        tbody tr:nth-child(2n+1) {
            background-color: var(--table-odd-background-fill);
        }
    }
    &.no-head thead{
        display: none;
    }
}

.right-aligned {
    margin-right: 0;
    margin-left: auto;
    &>* {
        float: right;
    }
}

button, a, label, input {
    -webkit-tap-highlight-color: transparent;
}

:root:has(body:not(.dark)) {
    color-scheme: light;
}
:root:has(body.dark) {
    color-scheme: dark;
}

/* Firefox-like scrollbar for Chromium */
:root {
    --scrollbar-hover: rgba(39, 39, 42, 0.059);
    --scrollbar-thumb-color: rgba(39, 39, 42, 0.5);
    --scrollbar-thumb-color-hover: rgba(84, 158, 255, 0.5);
}
body.dark {
    --scrollbar-hover: rgba(244, 244, 245, 0.059);
    --scrollbar-thumb-color: rgba(244, 244, 245, 0.5);
    --scrollbar-thumb-color-hover: rgba(143, 191, 255, 0.5);
}
:root *::-webkit-scrollbar {
    width: 3.5px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
:root *::-webkit-scrollbar:hover {
    background-color: var(--scrollbar-hover);
}
:root *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 3px;
    transition: background-color 0.3s ease;
}
:root *::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-color-hover);
}

