.mcww-hidden {
    display: none !important;
}

div:has(>.mcww-hidden-parent) {
    display: none !important;
}

.mcww-visible {
    overflow: visible !important;
}

footer {
    flex-wrap: wrap;
}
footer .divider {
    margin-left: var(--size-2) !important;
    margin-right: var(--size-2) !important;
    display: block !important;
}

.mcww-full-screen-media-button {
    height: 100% !important;
}

.video-container:has(time) {
    overflow: scroll;
}

#compareImageHeadGroup {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.force-text-style {
    font-variant-emoji: text;
}

.mcww-tool{
    max-width: 2.2em;
    min-width: 2.2em !important;
    height: 2.4em;
    align-self: end;
    line-height: 1em;
    border-radius: 0.5em;
    margin: auto;
}

div:has(>.mcww-tool) {
    gap: 5px;
}

.comfy-logs-code {
    max-height: min(50vh, 600px);
}


.toggle-dark-mode {
    font-family: monospace;
    position: absolute;
    background-color: transparent;
    color: var(--button-secondary-text-color);
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}


/* resize handle */

body.resizing {
    cursor: col-resize !important;
}

body.resizing * {
    pointer-events: none !important;
}

body.resizing .resize-handle {
    pointer-events: initial !important;
}

.resize-handle {
    position: relative;
    cursor: col-resize;
    grid-column: 2 / 3;
    min-width: 16px !important;
    max-width: 16px !important;
    height: 100%;
}

.resize-handle::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7.5px;
    border-left: 1px dashed var(--border-color-primary);
}


/* loading */

:root {
    --loading-circle-color: var(--primary-400);
}

body.dark {
    --loading-circle-color: var(--primary-900);
}

.mcww-loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}
.mcww-wobble-circles {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.mcww-circle {
    width: 12px;
    height: 12px;
    border: 1px solid var(--loading-circle-color);
    border-radius: 50%;
    animation: mcwwWobble 0.6s ease-in-out infinite;
}
@keyframes mcwwWobble {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.mcww-loader-text {
    font-size: 14px;
    text-align: center;
}


/* mouse alert */

:root {
    --mouse-alert-progress-color: var(--block-label-text-color);
}

body.dark {
    --mouse-alert-progress-color: var(--block-label-border-color);
}

.mouse-alert {
    position: fixed;
    z-index: 9999;
    padding: 0.5em 1em;
    height: 1em;
    line-height: 1em;
    border: 1px solid var(--block-label-border-color);
    background-color: var(--block-label-background-fill);
    color: var(--block-label-text-color);
    font-size: 1rem;
    white-space: nowrap;
    pointer-events: none;
    overflow: hidden;
    transform: translate(-50%, -100%);
    left: 0;
    top: 0;
}

.mouse-alert-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--mouse-alert-progress-color);
    transform-origin: left;
    transition: transform linear;
}

