
.options-main-column {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    &::before {
        content: "";
        display: block;
        height: 3vh;
        min-height: 0px;
        margin-bottom: calc(-1 * var(--layout-gap));
    }
}


.accent-color-preview button {
    cursor: unset;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    min-height: 50px;
}
