
.options-main-column {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    .fix-background {
        background: var(--block-background-fill);
    }
    #examples {
        background: var(--block-background-fill);
        padding: 4px 6px;
        &>div.label {
            border: solid var(--block-title-border-width) var(--block-title-border-color);
            border-radius: var(--block-title-radius);
            background: var(--block-title-background-fill);
            padding: var(--block-title-padding);
            color: var(--block-title-text-color);
            font-weight: var(--block-title-text-weight);
            font-size: var(--block-title-text-size);
            &>svg {
                display: none;
            }
        }
    }
    .themes-info {
        padding-left: 8px;
        padding-bottom: 6px;
    }
    .reset-button {
        display: none;
    }
    .mcww-color-palette-preview {
        aspect-ratio: 2000/400;
        button {
            cursor: default;
        }
        img {
            object-fit: fill;
            pointer-events: none;
        }
        .icon-button-wrapper, svg {
            display: none;
        }
    }
}

