
.options-main-column {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 8px;
    #accentColorExamples {
        background: var(--block-background-fill);
        padding: 4px 6px;
    }
    .reset-button {
        display: none;
    }
    .mcww-color-palette {
        button {
            cursor: default;
        }
        img {
            object-fit: fill;
        }
    }
}

