
.options-main-column {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.accent-color-preview button {
    cursor: unset;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    min-height: 50px;
}
