:root {
    --presets-radio-drag-and-drop-color: var(--primary-200);
}

body.dark {
    --presets-radio-drag-and-drop-color: var(--primary-900);
}

.presets-title{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.edit-presets-button {
    position: absolute;
    right: 4px;
    bottom: -8px;
    z-index: 1;
}

.presets-editor-main-column {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.mcww-presets-radio {
    border: none;
    background: none;
    padding: 0;
}
div:has(>.mcww-presets-radio) {
    border: none;
    background: none;
    box-shadow: none;
}
.mcww-presets-radio input {
    display: none;
}
.mcww-presets-radio label {
    border: 1px solid var(--border-color-primary);
    border-radius: var(--button-large-radius);
    overflow: hidden;
    background-image: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
}
.mcww-presets-radio label:hover {
    border-color: var(--border-color-accent);
    background: var(--table-row-focus);
}
.mcww-presets-radio label.selected {
    background: var(--workflow-radio-label-background-selected);
}
.mcww-presets-radio label span {
    margin: 0;
    padding: 0;
    padding: var(--size-1) var(--size-2);
    user-select: none;
}

label {
    position: relative;
    overflow: visible !important;
}

label.drag-left-line::before {
    content: '';
    position: absolute;
    left: -5.5px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--border-color-primary);
    overflow: visible;
}

label.drag-right-line::after {
    content: '';
    position: absolute;
    right: -5.5px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--border-color-primary);
    overflow: visible;
}

