
.presets-title{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.edit-presets-button {
    position: absolute;
    right: 4px;
    bottom: -8px;
    z-index: 1;
}

.presets-arrows-row {
    margin-right: 0;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: auto;
    width: fit-content;
    height: 10px;
}

.presets-arrows-row button {
    width: fit-content;
    height: fit-content;
}

.presets-editor-main-column {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
