:root {
    --presets-radio-drag-and-drop-color: var(--primary-200);
}
body.dark {
    --presets-radio-drag-and-drop-color: var(--primary-900);
}
.presets-title{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}
.presets-editor-main-column {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
div:has(>.mcww-presets-radio) {
    border: none;
    background: none;
    box-shadow: none;
    overflow: visible;
}
.mcww-presets-radio {
    border: none;
    background: none;
    padding: 0;
    overflow: visible !important;
    input {
        display: none;
    }
    label {
        border: 1px solid var(--border-color-primary);
        border-radius: var(--button-large-radius);
        overflow: hidden;
        background-image: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: fit-content;
        height: fit-content;
        position: relative;
        overflow: visible;
        &:hover {
            border-color: var(--border-color-accent);
            background: var(--table-row-focus);
        }
        &.selected {
            background: var(--workflow-radio-label-background-selected);
        }
        span {
            margin: 0;
            padding: 0;
            padding: var(--size-1) var(--size-2);
            user-select: none;
        }
        &.drag-left-line::before {
            content: '';
            position: absolute;
            left: -5.5px;
            top: 0;
            bottom: 0;
            width: 1px;
            background-color: var(--border-color-primary);
            overflow: visible;
        }
        &.drag-right-line::after {
            content: '';
            position: absolute;
            right: -5.5px;
            top: 0;
            bottom: 0;
            width: 1px;
            background-color: var(--border-color-primary);
            overflow: visible;
        }
    }
}

.edit-presets-button {
    position: absolute;
    bottom: -8px;
    z-index: 1;
    right: calc(4px + 1vw);
    @media (max-width: 767px) {
        right: calc(4px + 3.5vw);
    }
}
.presets-dataset {
    resize: vertical;
    overflow-y: auto;
    max-height: none;
    &, &>div {
        overflow-y: auto;
    }
}

.presets-filter {
    margin-left: 0;
    margin-right: auto;
}
