
/* workflows radio */

:root {
    --workflow-radio-separator-dot-size: 2.3px;
    --workflow-radio-label-background: linear-gradient(to top, var(--neutral-100), var(--neutral-50));
    --workflow-radio-label-background-selected: linear-gradient(to top, var(--primary-200), var(--primary-200));
}

body.dark {
    --workflow-radio-separator-dot-size: 1.35px;
    --workflow-radio-label-background: linear-gradient(to top, var(--neutral-950), var(--neutral-900));
    --workflow-radio-label-background-selected: linear-gradient(to top, var(--primary-900), var(--primary-800));
}

.workflows-radio {
    max-height: 140px;
    border: none;
    background: none;
    padding: 0;
}
div:has(>.workflows-radio) {
    border: none;
    background: none;
    overflow-y: auto;
    box-shadow: none;
}
div:has(>.workflows-radio)::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border: none;
    border-top: var(--workflow-radio-separator-dot-size) dotted var(--block-border-color);
}
.workflows-radio input {
    display: none;
}
.workflows-radio label {
    border: none;
    background: var(--workflow-radio-label-background);
}
.workflows-radio label.selected {
    background: var(--workflow-radio-label-background-selected);
}
.workflows-radio label span {
    margin: 0;
}
