
:root {
    --workflow-radio-separator-dot-size: 2.3px;
    --workflow-radio-label-background: linear-gradient(to top, var(--neutral-100), var(--neutral-50));
    --workflow-radio-label-background-selected: linear-gradient(to top, var(--primary-200), var(--primary-200));
}

body.dark {
    --workflow-radio-separator-dot-size: 1.35px;
    --workflow-radio-label-background: linear-gradient(to top, var(--neutral-950), var(--neutral-900));
    --workflow-radio-label-background-selected: linear-gradient(to top, var(--primary-900), var(--primary-800));
}

.workflows-radio {
    border: none;
    background: none;
    padding: 10px;
    margin: -10px;
    max-height: 139px;
    @media (max-width: 1280px) {
        max-height: 129px;
    }
    @media (max-width: 767px) {
        max-height: 167px;
    }
    input {
        display: none;
    }
    label {
        border: none;
        background: var(--workflow-radio-label-background);
        &.selected {
            background: var(--workflow-radio-label-background-selected);
            color: var(--block-title-text-color);
            font-weight: var(--block-title-text-weight);
        }
        span {
            margin: 0;
            @media (max-width: 1280px) {
                font-size: 85%;
            }
        }
    }
}
div:has(>.workflows-radio) {
    border: none;
    background: none;
    overflow: visible;
    box-shadow: none;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 15px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border: none;
        border-top: var(--workflow-radio-separator-dot-size) dotted var(--block-border-color);
    }
}

.project-workflow-ui {
    margin-bottom: 55px;
}

.project-media-prompt-tabs .tab-container button.has-media::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: var(--color-accent);
    border-radius: 50%;
    transform: translate(50%, -50%);
}

:root {
    --christmas-background-opacity: 60%;
}
body.dark {
    --christmas-background-opacity: 40%;
}
.christmas-background {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    overflow: hidden !important;
    opacity: var(--christmas-background-opacity);
    z-index: 100;
    pointer-events: none !important;
    span {
        position: absolute;
        z-index: 100;
        pointer-events: none;
    }
}

.mcww-running-html {
    margin: 0;
    padding: 0;
    overflow: visible !important;
    a {
        color: unset;
    }
}

.mcww-batch-count-number {
    input, input::placeholder{
        width: 60px;
    }
}

.mcww-project-priority {
    input, input::placeholder{
        width: 56.5px;
    }
}

.workflow-ui textarea {
    overflow-y: auto !important; /* sometimes gradio doesn't update height and scroll automatically */
}

#toBatch {
    display: none;
}

:root:has(.mcww-page-ui.project.mcww-page-visible) {
    overflow-y: scroll;
}

.mcww-run-button {
    position: fixed;
    left: 55vw;
    top: calc(100vh - min(115px, 18vh));
    top: calc(100dvh - min(115px, 18dvh));
    height: fit-content;
    width: 124px;
    z-index: 100;
}
.project-ui-waiting-indicator {
    position: fixed;
    left: calc(55vw + 127px);
    top: calc(100vh - min(115px, 18vh) + 21px);
    top: calc(100dvh - min(115px, 18dvh) + 21px);
    height: fit-content;
    width: fit-content;
    z-index: 100;
    &:not(:is(body.block-project-inputs *)) {
        display: none;
    }
}
.project-workflow-ui {
    transition: opacity 0.2s ease-in-out;
    &:is(body.block-project-inputs *) {
        cursor: wait !important;
        opacity: 70%;
        &>* {
            pointer-events: none !important;
        }
    }
}

.media-batch-multi-inputs-info.block {
    margin-top: var(--layout-gap);
}

#waveform>div::part(scroll) {
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) var(--scrollbar-thumb-color);
}

