
:root {
    --workflow-radio-separator-dot-size: 2.3px;
    --workflow-radio-label-background: linear-gradient(to top, var(--neutral-100), var(--neutral-50));
    --workflow-radio-label-background-selected: linear-gradient(to top, var(--primary-200), var(--primary-200));
}

body.dark {
    --workflow-radio-separator-dot-size: 1.35px;
    --workflow-radio-label-background: linear-gradient(to top, var(--neutral-950), var(--neutral-900));
    --workflow-radio-label-background-selected: linear-gradient(to top, var(--primary-900), var(--primary-800));
}

.workflows-radio {
    border: none;
    background: none;
    padding: 0;
    max-height: 133px;
    @media (max-width: 1280px) {
        max-height: 120px;
    }
    @media (max-width: 767px) {
        max-height: 161px;
    }
    input {
        display: none;
    }
    label {
        border: none;
        background: var(--workflow-radio-label-background);
        &.selected {
            background: var(--workflow-radio-label-background-selected);
        }
        span {
            margin: 0;
            @media (max-width: 1280px) {
                font-size: 85%;
            }
        }
    }
}
div:has(>.workflows-radio) {
    border: none;
    background: none;
    overflow-y: auto;
    box-shadow: none;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 15px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border: none;
        border-top: var(--workflow-radio-separator-dot-size) dotted var(--block-border-color);
    }
}

.project-workflow-ui {
    margin-bottom: 40px;
}

.project-media-prompt-tabs .tab-container button.has-media::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: var(--color-accent);
    border-radius: 50%;
    transform: translate(50%, -50%);
}

:root {
    --christmas-background-opacity: 60%;
}
body.dark {
    --christmas-background-opacity: 40%;
}
.christmas-background {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    overflow: hidden !important;
    opacity: var(--christmas-background-opacity);
    z-index: 100;
    pointer-events: none !important;
    span {
        position: absolute;
        z-index: 100;
        pointer-events: none;
    }
}

@keyframes runningDotsAnimation {
    0% { content: ""; }
    33% { content: "."; }
    66% { content: ".."; }
    100% { content: "..."; }
}
.running-dots {
    display: inline-block;
    width: 20px;
    &::after {
        content: "";
        animation: runningDotsAnimation 0.9s infinite steps(3, end);
    }
}

.mcww-running-html {
    margin: 0;
    padding: 0;
    overflow: visible !important;
}

.mcww-project-error-md {
    margin: 0;
    padding: 0;
    overflow: visible !important;
    p {
        color: var(--color-red-500) !important;
    }
}

div:has(.mcww-batch-count-number) {
    background: none;
    border: none;
    box-shadow: none;
}
.mcww-batch-count-number {
    background: none;
    border: none;
    box-shadow: none;
    max-width: fit-content !important;
    margin-left: auto;
    margin-right: 0;
    padding: 0;

    input, input::placeholder{
        background: none !important;
        max-height: 18px !important;
        line-height: 18px;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow-y: hidden;
        width: 75px;
    }
    span{
        margin-right: 5px;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        white-space: nowrap;
        width: auto;
    }
    label {
        display: flex;
    }
}

