
:root {
    --workflow-radio-separator-dot-size: 2.3px;
    --workflow-radio-label-background: linear-gradient(to top, var(--neutral-100), var(--neutral-50));
    --workflow-radio-label-background-selected: linear-gradient(to top, var(--primary-200), var(--primary-200));
}

body.dark {
    --workflow-radio-separator-dot-size: 1.35px;
    --workflow-radio-label-background: linear-gradient(to top, var(--neutral-950), var(--neutral-900));
    --workflow-radio-label-background-selected: linear-gradient(to top, var(--primary-900), var(--primary-800));
}

.workflows-radio {
    max-height: 140px;
    border: none;
    background: none;
    padding: 0;
    input {
        display: none;
    }
    label {
        border: none;
        background: var(--workflow-radio-label-background);
        &.selected {
            background: var(--workflow-radio-label-background-selected);
        }
        span {
            margin: 0;
        }
    }
}
div:has(>.workflows-radio) {
    border: none;
    background: none;
    overflow-y: auto;
    box-shadow: none;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 15px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border: none;
        border-top: var(--workflow-radio-separator-dot-size) dotted var(--block-border-color);
    }
}

.project-workflow-ui {
    margin-bottom: 35px;
}

.project-media-prompt-tabs .tab-container button.has-media::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: var(--color-accent);
    border-radius: 50%;
    transform: translate(50%, -50%);
}

:root {
    --christmas-background-opacity: 60%;
}
body.dark {
    --christmas-background-opacity: 40%;
}
.christmas-background {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    opacity: var(--christmas-background-opacity);
    z-index: 100;
    pointer-events: none !important;
    span {
        position: absolute;
        z-index: 100;
        pointer-events: none;
    }
}
