
:root {
    --queue-complete-border-color: #6db46a;
    --queue-error-border-color: #d27272;
    --queue-in_progress-border-color: #dca948;
    --queue-queued-border-color: #9f9f9f;
    --queue-indicator-color: var(--secondary-300);
    --queue-indicator-empty-opacity: 0.8;
    --queue-indicator-empty-color: var(--neutral-300);
}

body.dark {
    --queue-complete-border-color: #0f480d;
    --queue-error-border-color: #4e1717;
    --queue-in_progress-border-color: #523c0a;
    --queue-queued-border-color: var(--checkbox-label-border-color);
    --queue-indicator-color: var(--secondary-400);
    --queue-indicator-empty-opacity: 0.2;
    --queue-indicator-empty-color: var(--neutral-500);
}

div:has(>.mcww-queue-radio) {
    background: none;
    border: none;
    overflow-y: auto;
    box-shadow: none;
}
.mcww-queue-radio {
    background: none;
    padding: 0;
    &>div {
        flex-direction: column;
    }
    label {
        align-items: flex-start;
        width: 100%;
        background: var(--background-fill-primary);
        &.selected {
            background: var(--background-fill-primary);
        }
        &:hover {
            background: var(--background-fill-primary);
        }
        &.complete {
            border-color: var(--queue-complete-border-color);
        }
        &.error {
            border-color: var(--queue-error-border-color);
        }
        &.in_progress {
            border-color: var(--queue-in_progress-border-color);
        }
        &.queued {
            border-color: var(--queue-queued-border-color);
        }
        input {
            margin-top: auto;
            margin-bottom: auto;
            cursor: pointer;
        }
    }
}

.queue-content {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-left: 10px;
    position: relative;
    img, video {
        height: 50px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .mcww-text {
        height: 45px;
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 2px;
        margin-bottom: 2px;
        overflow: hidden;
        word-break: break-all;
    }
    .mcww-id {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: auto;
        overflow: visible;
        opacity: 50%;
        text-align: right;
    }
}

.queue-ui>:not(.resize-handle) {
    height: auto;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    flex-wrap: nowrap;
}

.queue-indicator {
    background: var(--queue-indicator-color);
    border-radius: 50%;
    width: 20px;
    height: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--glass-content);
    font-variant-emoji: text;
    font-weight: 600;
    &.in-queue-button {
        position: absolute;
        right: 0px;
        bottom: 0px;
        &.empty-indicator {
            opacity: 0;
        }
    }
    &.next-to-toggle-button {
        position: absolute;
        top: 60px;
        right: -23px;
        &.empty-indicator {
            background: none;
            border-color: var(--queue-indicator-empty-color);
            border-width: 1px;
            border-style: dashed;
            opacity: var(--queue-indicator-empty-opacity);
        }
    }
}
.sidebar.open .queue-indicator.next-to-toggle-button {
    display: none !important;
}

.queue-control-row {
    display: flex;
    button {
        font-weight: bold;
        height: 100%;
        &.mcww-tool {
            line-height: unset;
        }
    }
    .info-text {
        white-space: nowrap;
        min-width: fit-content !important;
        overflow: hidden !important;
    }
}