
.mcww-context-menu {
    position: fixed;
    z-index: 10000;
    background: var(--background-fill-primary);
    color: var(--body-text-color);
    border: var(--block-border-width) solid var(--block-border-color);
    border-radius: var(--block-radius);
    padding: var(--spacing-md) 0;
    min-width: 180px;
    box-shadow: var(--block-shadow);
    user-select: none;
    font-variant-emoji: text;
    font-weight: var(--section-header-text-weight);
    font-size: var(--section-header-text-size);
    .menu-item {
        display: flex;
        align-items: center;
        padding: var(--spacing-md) var(--spacing-lg);
        cursor: pointer;
        transition: background 0.2s;
        white-space: nowrap;
        &:hover {
            background: var(--background-fill-secondary);
        }
        .icon {
            margin-right: var(--spacing-lg);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            min-width: 1.5em;
            height: 1.5em;
            .icon-button {
                background: none;
            }
            svg {
                width: 1.2em;
                height: 1.2em;
            }
        }
        .text {
            flex-grow: 1;
        }
        &:not(:last-child) {
            border-bottom: var(--block-border-width) solid var(--block-border-color);
        }
    }
}
