
footer {
    margin-top: 6px !important;
    flex-wrap: wrap;
    &:not(.mcww-visible) {
        visibility: hidden;
    }
    .divider {
        margin-left: var(--size-2) !important;
        margin-right: var(--size-2) !important;
        display: block !important;
    }
    button.record {
        position: absolute;
        bottom: 13px;
        right: -13px;
    }
}
body:has(footer:not(.mcww-visible)) div.api-docs {
    opacity: 0;
}
body:has(footer.mcww-visible) div.api-docs {
    div.banner-wrap:not(:has(button.record-button)):not(:nth-child(1)) {
        display: none;
    }
    div.banner-wrap:nth-child(1)>h2 {
        visibility: hidden;
    }
    label:has(>input[type="checkbox"]) {
        display: none;
    }
}

