
footer {
    flex-wrap: wrap;
    &:not(.mcww-visible) {
        visibility: hidden;
    }
    .divider {
        margin-left: var(--size-2) !important;
        margin-right: var(--size-2) !important;
        display: block !important;
    }
    button.record {
        position: absolute;
        bottom: 13px;
        right: -13px;
    }
}

div.api-docs-wrap div.banner-wrap:not(:has(button.record-button)):not(:nth-child(1)) {
    display: none;
}
div.api-docs-wrap div.banner-wrap:nth-child(1)>h2 {
    visibility: hidden;
}

