
.management-buttons-column {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.comfy-logs-code {
    max-height: min(50vh, 600px);
    background: var(--block-label-background-fill);
}
.comfy-logs-code div.cm-gutters {
    display: none;
}

#compareImageHeadGroup {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.metadata-workflow-group {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.metadata-workflow-group div.tab-wrapper{
    background: var(--block-background-fill);
}
