
.mcww-hidden {
    display: none !important;
}
div:has(>.mcww-hidden-parent) {
    display: none !important;
}
.mcww-visible {
    overflow: visible !important;
}

#compareImageHeadGroup {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.force-text-style {
    font-variant-emoji: text;
}

.comfy-logs-code {
    max-height: min(50vh, 600px);
}

.button-with-confirm-row {
    gap: 5px;
}
.button-with-confirm-row button {
    min-width: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 767px) {
    .grid-on-mobile {
        display: grid;
    }
}

.vertically-centred, .vertically-centred>div {
    margin-top: auto;
    margin-bottom: auto;
}

.block-row-column {
    display: block;
}
.block-row-column>* {
    margin-right: 5px !important;
}
.block-row-column:nth-child {
    margin-right: 0px !important;
}

.mcww-bold-label span {
    font-weight: bold;
}

.info-text p {
    font-weight: var(--block-info-text-weight);
    font-size: var(--block-info-text-size);
    line-height: var(--line-sm);
    color: var(--block-info-text-color);
}

.mcww-table table{
    border: none;
}
.mcww-table table td, .mcww-table table tr, .mcww-table table th {
    border: 1px solid var(--block-border-color);
}
.mcww-table table tbody tr:nth-child(2n) {
    background-color: var(--table-even-background-fill);
}
.mcww-table table tbody tr:nth-child(2n+1) {
    background-color: var(--table-odd-background-fill);
}
.mcww-table.no-head thead{
    display: none;
}
