
.mcww-loras-filter {
    background: none;
    border: none;
    box-shadow: none;
}
div:has(>.mcww-loras-filter) {
    background: none;
    border: none;
    box-shadow: none;
    margin-right: 0px;
    margin-left: auto;
    max-width: 200px;
}
.mcww-loras-filter textarea, .mcww-loras-filter textarea::placeholder{
    background: none !important;
    max-height: 15px !important;
    line-height: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
}
.mcww-loras-filter span{
    margin-right: 5px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.mcww-loras-filter label {
    display: flex;
}


.mcww-loras-table {
    max-height: 74vh;
}
.mcww-loras-table table{
    width: 100%;
}
.mcww-loras-table code{
    background: none;
    border: none;
    box-shadow: none;
}


