
div:has(>.mcww-loras-filter) {
    background: none;
    border: none;
    box-shadow: none;
    margin-right: 0px;
    margin-left: auto;
    max-width: 200px;
}
.mcww-loras-filter {
    background: none;
    border: none;
    box-shadow: none;
    textarea, textarea::placeholder{
        background: none !important;
        max-height: 18px !important;
        line-height: 18px;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow-y: hidden;
    }
    span{
        margin-right: 5px;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    label {
        display: flex;
    }
}

.mcww-loras-table {
    max-height: 74vh;
    table{
        width: 100%;
    }
    code{
        background: none;
        border: none;
        box-shadow: none;
    }
}

