
:root {
    --mcww-alert-progress-color: var(--block-label-text-color);
}

body.dark {
    --mcww-alert-progress-color: var(--block-label-border-color);
}

.mcww-alert {
    position: fixed;
    z-index: 9999;
    padding: 0.5em 1em;
    height: 1em;
    line-height: 1em;
    border: 1px solid var(--block-label-border-color);
    background-color: var(--background-fill-secondary);
    color: var(--block-label-text-color);
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
}

.mcww-alert-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--mcww-alert-progress-color);
    transform-origin: left;
    transition: transform linear;
}

.mouse-alert.mcww-alert {
    left: 0;
    top: 0;
    transform-origin: top left;
    pointer-events: none;
}

.top-right-alert.mcww-alert {
    top: 5px;
    right: 5px;
    width: fit-content;
    height: fit-content;
    font-size: 120%;
}

