
.mcww-hidden {
    display: none !important;
}
div:has(>.mcww-hidden-parent) {
    display: none !important;
}
.mcww-visible {
    overflow: visible !important;
}

#compareImageHeadGroup {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.force-text-style {
    font-variant-emoji: text;
}

.comfy-logs-code {
    max-height: min(50vh, 600px);
}

.toggle-dark-mode {
    font-family: monospace;
    position: absolute;
    background-color: transparent;
    color: var(--button-secondary-text-color);
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}

.button-with-confirm-row {
    gap: 5px;
}

@media (max-width: 767px) {
    .grid-on-mobile {
        display: grid;
    }
}

.vertically-centred {
    margin-top: auto;
    margin-bottom: auto;
}
