
.mcww-hidden {
    display: none !important;
}
div:has(>.mcww-hidden-parent) {
    display: none !important;
}
.mcww-visible {
    overflow: visible !important;
}

#compareImageHeadGroup {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.force-text-style {
    font-variant-emoji: text;
}

.comfy-logs-code {
    max-height: min(50vh, 600px);
}

.button-with-confirm-row {
    gap: 5px;
}

@media (max-width: 767px) {
    .grid-on-mobile {
        display: grid;
    }
}

.vertically-centred {
    margin-top: auto;
    margin-bottom: auto;
}
