
body.resizing {
    cursor: col-resize !important;
    * {
        pointer-events: none !important;
    }
    .resize-handle {
        pointer-events: initial !important;
    }
}

.resize-handle {
    position: relative;
    cursor: col-resize;
    grid-column: 2 / 3;
    min-width: 16px !important;
    max-width: 16px !important;
    height: 100%;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 7.5px;
        border-left: 1px dashed var(--border-color-primary);
    }
}
